@page "/offerte/add/{KlantId:int}"
@using BrentWiels.Data
@using BrentWiels.Viewmodels
@using BrentWiels.Data.Interfaces
@using BrentWiels

@inject IOfferteDataService OfferteService
@inject NavigationManager NavigationManager
@inject IJSRuntime js


<h1>Toevoegen</h1>

@if (offerte == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Offerte</h2>
        </div>
        <div class="col-sm-4">
            <h3> @offerte?.Klant?.Naam</h3>
        </div>
        <div class="col-sm-4">
            <p>Offertenummer: @offerte?.OfferteNummer</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>Vervaldatum offerte (bij aanmaak vandaag): @offerte.VervalDatum.ToShortDateString()</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>Btw offerte</label>
        </div>
        <div class="col-sm">
            <input @onclick="@(() => SetBtw(0))" type="radio" name="btw" value="0%" />0% &emsp;
            <input @onclick="@(() => SetBtw(0.06m))" type="radio" name="btw" value="6%" />6% &emsp;
            <input @onclick="@(() => SetBtw(0.21m))" type="radio" name="btw" value="21%" />21% &emsp;
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>Voorschot (in %)</label>
        </div>
        <div class="col-sm">
            <input type="number" placeholder="VoorschotPercentage" @bind="@offerte.Voorschot"/>
        </div>
    </div>
    <hr />
    @foreach (var lijn in Werklijnen)
    {
        <div class="row">
            <div class="col-sm-2">
                <label>Werk/materiaal:</label>
            </div>
            <div class="col-sm-8">
                <textarea rows="3" cols="50" maxlength="120" @bind="lijn.Omschrijving"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Prijs:</label>
            </div>
            <div class="col-sm-8">
                <input type="number" @bind="lijn.NettoPrijs" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Marge (in %):</label>
            </div>
            <div class="col-sm-8">
                <input type="number" @bind="lijn.PercentageWinst" />
            </div>
        </div>
        <hr />
    }
    <button @onclick="AddWerklijn">Voeg werk toe</button>
    <button @onclick="@(async () => await MaakOfferte())">Maak de offerte</button>
</div>

}

@code {
    OfferteViewModel offerte;
    [Parameter]
    public int KlantId { get; set; }

    private static int _maxLijnen = 6;

    List<WerkLineViewModel> Werklijnen { get; set; }

    public string[] BtwPercentages = new[] { "6%", "21%", "0%" };

    protected override async Task OnInitializedAsync()
    {
        offerte = await OfferteService.GetNewOfferteForCustomer(KlantId);
        AddWerklijn();
    }

    protected void SetBtw(decimal value)
    {
        this.offerte.Btw = value;
    }

    private void AddWerklijn()
    {
        if (this.Werklijnen == null)
        {
            this.Werklijnen = new List<WerkLineViewModel>();
        }
        if (this.Werklijnen.Count < _maxLijnen)
        {
            Werklijnen.Add(new WerkLineViewModel());
        }
    }

    private async Task MaakOfferte()
    {
        offerte.Werklijnen = Werklijnen;

        await OfferteService.AddOfferteForCustomer(offerte);

        NavigationManager.NavigateTo($"detail/{KlantId}");
    }
}
