@page "/detail/{Id:int}"
@using BrentWiels.Data.Interfaces
@using BrentWiels.Viewmodels

@inject IKlantenDataService KlantenService
@inject NavigationManager NavigationManager


<h1>Detail klant</h1>

@if (customer == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@customer.Naam</p>
    <p>@customer.FullAdress</p>
    <p>@customer.BtwNummer</p>
    <p>@customer.Email</p>
    <p>@customer.TelefoonNummer</p>

    <button @onclick="AddOfferteVoorKlant">Maak offerte</button>

}

@code {
    [Parameter]
    public int Id { get; set; }

    KlantViewModel customer;

    protected override async Task OnInitializedAsync()
    {
        customer = await KlantenService.GetCustomer(Id);
    }

    private void AddOfferteVoorKlant()
    {
        NavigationManager.NavigateTo($"/offerte/add/{Id}");
    }
}
